@media (max-width : 1000px) {
    html {
        font-size: medium;
    }

    #dice-options-container div{
        display: block;
    }

    .dice-selections {
        width: 100px;
        font-size: 1.3rem;
    }

    .results {
        width: 35%;
    }
}

@media (max-width : 600px) {
    .results {
        width: 60%;
    }

    .options p{
        font-size: 35px;
    }
}

@media (max-width : 470px) {
    html {
        font-size: small
    }

    .options p{
        font-size: 25px;
    }

    .dice-selections {
        font-size: 1rem;
    }
}