@media (max-width : 1000px) {
    html {
        font-size: medium;
    }

    #dice-options-container div{
        display: block;
    }

    .colors-chose {
        display: inline-block;
        left: 5%;

    }

    #dice-colors label{
        display: block;
    }

    .results {
        width: 35%;
    }

}

@media (max-width : 600px) {
    .results {
        width: 60%;
    }
}

@media (max-width : 470px) {
    html {
        font-size: small
    }

    .colors-chose {
        left: 0;
    }
}