<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Components/css/main-style.css">
    <link rel="stylesheet" href="/Components/css/viewport.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap" rel="stylesheet">
    <title>Dados RPG Online</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/Components/images/tipo-de-dado/d20-logo.png" alt="dado-de-20-lados" id="dice-logo">
            <h1 id="name-logo">Dados RPG Online</h1>
        </div>
        <div class="light-or-dark">
            <button class="theme-icon">&#9789;</button>   
        </div>
    </header>
    <main>
        <section class="options">
            <div id="dice-options-container">
                <div class="dice-number">
                    <p class="options-text">Número de dados</p>
                    <select class="dice-selections" id="NumberOfDices">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <div class="number-of-sides">
                    <p class="options-text">Número de lados</p>
                    <select class="dice-selections" id="NumberOfSides">
                        <option value="4">4</option>
                        <option value="6">6</option>
                        <option value="8">8</option>
                        <option value="10">10</option>
                        <option value="12">12</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
        </section>
        <div class="results">
            <div class="dices">
                <figure class="dice">
                    <img class="diceImage" src="/Components/images/tipo-de-dado/d20.png" alt="dado">
                    <figcaption class="dice-result">1</figcaption>
                </figure>
                <figure class="dice hidden">
                    <img class="diceImage" src="/Components/images/tipo-de-dado/d20.png" alt="dado">
                    <figcaption class="dice-result">1</figcaption>
                </figure>                
                <figure class="dice hidden">
                    <img class="diceImage" src="/Components/images/tipo-de-dado/d20.png" alt="dado">
                    <figcaption class="dice-result">1</figcaption>
                </figure>                
                <figure class="dice hidden">
                    <img class="diceImage" src="/Components/images/tipo-de-dado/d20.png" alt="dado">
                    <figcaption class="dice-result">1</figcaption>
                </figure>                
                <figure class="dice hidden">
                    <img class="diceImage" src="/Components/images/tipo-de-dado/d20.png" alt="dado">
                    <figcaption class="dice-result">1</figcaption>
                </figure>                
                <figure class="dice hidden">
                    <img class="diceImage" src="/Components/images/tipo-de-dado/d20.png" alt="dado">
                    <figcaption class="dice-result">1</figcaption>
                </figure>
            </div>
            <div id="dice-throw">
                <button id="lançar">Lançar</button>
            </div>
        </div>
    </main>
    <script src="/Components/javascript/main.js"></script>  
</body>
</html>